{config_load file="$language/lang_$language.conf" section="advanced_search"}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top"> 
    	<td class="contentsTopics">{#heading_search#}</td>
	</tr>
</table>
{$FORM_ACTION}
{if $error!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{$error}</td>
  </tr>
</table>
{/if}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td class="main" colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td class="main"><strong>{#title_keywords#}</strong></td>
          <td class="main" align="right"><a href="{$HELP_LINK}">{#text_help#}</a></td>
        </tr>
      </table>
      {$INPUT_KEYWORDS}</td>
  </tr>
</table>
{$OPTIONS_BOX}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right">{$BUTTON_SUBMIT}</td>
  </tr>
</table>
{$FORM_END}