{config_load file="$language/lang_$language.conf" section="gv_faq"}
<font size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong>{#heading_gvfaq#}</strong></font>
<table width="100%" border="0" cellspacing="0" cellpadding="1" class="infoBox">
  <tr>
    <td class="main">{$TEXT_INFORMATION}</td>
  </tr>
  <tr>
    <td class="main"><img src="{$tpl_path}img/pixel_trans.gif" height="20" width="30"></td>
  </tr>
  <tr>
    <td class="main"><b>{$SUB_HEADING_TITLE}</b></td>
  </tr>
  <tr>
	<td class="main">{$SUB_HEADING_TEXT}</td>
  </tr>
  <tr>
    <td align="right" class="main">{$LINK_DEFAULT}</td>
  </tr>
</table>
