{config_load file="$language/lang_$language.conf" section="newsletter"}
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr valign="top"> 
          <td class="contentsTopics">{#heading_title#}</td>
		</tr>
	  </table>
{if $info_message!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
  <tr>
    <td class="errorBox" align="center">{$info_message}</td>
  </tr>
</table>
{/if}
<table class="formArea" width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td colspan="3"> <table width="100%" border="0" cellpadding="0" cellspacing="4">
        <tr> 
          <td valign="top"> {$FORM_ACTION}
            <table width="100%" border="0" cellspacing="0" cellpadding="2">
              <tr> 
                <td colspan="7" align="left" class="small">&nbsp;</td>
              </tr>
              <tr> 
                <td align="right" valign="top"><img src="{$tpl_path}img/arrow_green.gif" alt="" /></td>
                <td align="right" class="small">&nbsp;</td>
                <td colspan="2" class="main" align="left">
					<table cellspacing="0" cellpadding="0">
						<tr>
							<td class="main">{$CHECK_INP}</td>
							<td class="main">{#text_in#}</td>
							<td class="main">{$CHECK_DEL}</td>
							<td class="main">{#text_out#}</td>							
						</tr>
					</table>
                </td>
                <td align="right" class="main">&nbsp;</td>
                <td colspan="2" class="main">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2" rowspan="4" align="right" valign="top"> </td>
                <td valign="top"><strong>{#text_sec_code#}</strong></td>
                <td colspan="2" rowspan="2" valign="top"><strong>{#text_sec_code#}</strong><br />{#text_inp_code#}</td>
                <td colspan="2" rowspan="2" valign="top"><strong>{#text_email#}</strong><br />{#text_inp_code#}</td>
              </tr>
              <tr> 
                <td rowspan="2" align="center" valign="middle">{$VVIMG}</td>
              </tr>
              <tr valign="top"> 
                <td valign="bottom"><img src="{$tpl_path}img/arrow_south_east.gif" alt="" /></td>
                <td valign="bottom">{$INPUT_CODE}</td>
                <td valign="bottom"><img src="{$tpl_path}img/arrow_south_east.gif" alt="" /></td>
                <td valign="bottom">{$INPUT_EMAIL}</td>
              </tr>
              <tr valign="top"> 
                <td colspan="5" valign="top">{#text_continue#}</td>
              </tr>
              <tr> 
                <td colspan="6" align="right" valign="top">&nbsp;</td>
                <td valign="middle" class="small">{$BUTTON_SEND}</td>
              </tr>
            </table>{$FORM_END}</td>
        </tr>
      </table></td>
  </tr>
</table>