{php} $col=0; {/php} 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  {foreach name=aussen item=module_data from=$module_content}
  {php} $col++; 
  {/php}
    <td class="main"><div align="center">{if $module_data.PRODUCTS_IMAGE!=''}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" border="1"></a><br>{/if}
        <strong><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></strong> 
        <br>
        <strong>{$module_data.PRODUCTS_PRICE}</strong> <br>
        <br>
      </div></td>
  {php} 

  if ($col>=2) {
  $col=0;
  echo '</tr><tr>';
  }
  {/php}
  {/foreach}  
  </tr>
</table>


<p>&nbsp;</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{$NAVBAR}</td>
  </tr>
</table>

